NEXT_PUBLIC_SUPABASE_URL=https://xkkpwrleritzsebywxhe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tTwI36Lce3mD6d8fe9uX_g_A9DTpSec
VITE_GURU_API_URL=https://script.google.com/macros/s/AKfycbxMXczbWFxI4HbwmE44Lv00-CY8APwNb0pQOveLE_lEj8mrILwpDdNUVM8FPZO2KbuZ/exec